/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* GLOBAL */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --path: 5% 1%, 99% 20%, 97% 60%, 1% 98%;
  --windowWidth: 1000px;
  --contentColor: #b2bec3;
  --contentBorder: #636e72;
  --backgroundColor: #dfe6e9;
  --navBarBorder: #74b9ff;
  --navBar: #0984e3;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  font-family: 'Roboto', sans-serif;
}

.App {}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* PAGES */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.aboutPage, .skillsPage, .projectsPage, .linksPage, .contactPage {
  background-color: var(--contentColor);
  border: 2px solid var(--contentBorder);
  width: 85vw;
  margin: 0 auto 2rem;
  padding: 14rem 2rem 2rem;
}

.aboutPage h1, .skillsPage h1, .projectsPage h1, .linksPage h1, .contactPage h1 { 
  padding: 0;
  margin: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NAVBAR */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar {
  color: white;
  width: 95vw;
  /* margin: 0 auto; */
  margin: 1rem auto 0px;
  /* pos: relative needed for child absolute */
  position: relative;
  
}

.navbar h1 {
  font-size: 4rem;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0 0 0 2rem;
  text-shadow: 2px 2px 6px black;
}

.navbar span {
  margin: 0;
  padding: 0;
}


/* polygon shape  */
.poly {
  height: 12rem;
  width: 100%;
  background-color: var(--navBar);
  clip-path: polygon(var(--path));
  margin: 0 auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem 3rem 5rem;
  z-index: 3;
}

.polyBorder {
  background-color: var(--navBarBorder);
  height: 12rem;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.navbar a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid rgba(255,255,255, 0);
  border-left: 1px solid rgba(255,255,255, 0);
  padding: 4px;
  border-radius: 5px;
}

a:hover {
  border: 1px solid white;
}

/* White background behind the navbar */
.navbarBackground {
  background-color: var(--backgroundColor);
  width: 100vw;
  height: 6rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* Links */
.linkComponents {
  display: flex;
  justify-content: space-around;
  width: 30rem;
  margin-top: 2rem;
}

.introName {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-top: 2rem;
}