:root {
  --path: 5% 1%, 97% 20%, 99% 50%, 1% 98%;
  --border: 5px;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: white;
}

.App {}

.navbar {
  color: white;
  width: 95%;
  margin: 0 auto;
  border: 3px solid purple;

  /* pos: relative needed for child absolute */
  position: relative;
}


/* polygon shape  */
.poly {

  /* Citation: https://css-tricks.com/exploring-the-css-paint-api-polygon-border/ */


  height: 12rem;
  width: 100%;
  background-color: blue;

  clip-path: polygon(var(--path));

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem 3rem 5rem;
  z-index: 2;

}

.polyBorder {
  /* --path2: 4% 0, 98% 18%, 100% 51%, 0 100%; */

  background-color: green;
  height: 12rem;
  width: 100%;

  position: absolute;
  z-index: 1;
  /* clip-path: polygon(var(--path2)); */
}

.navbar a {
  color: white;
}

/* White background behind the navbar */
.navbarBackground {
  background-color: gray;
  width: 90%;
  height: 12rem;
  margin: 5rem auto 0;
}

/* Links */
.linkComponents {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}