/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* GLOBAL */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --path: 5% 1%, 99% 20%, 97% 60%, 1% 98%;
  --windowWidth: 1000px;
  --contentColor: #b2bec3;
  --contentBorder: #636e72;
  --backgroundColor: #dfe6e9;
  --navBarBorder: #74b9ff;
  --navBar: #0984e3;
  --gridBarBorder: white;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  font-family: 'Roboto', sans-serif;
}

.App {}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ABOUT */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#photoTextSplit {
  display: flex;
}
#photo {
  background-color: purple;
  width: fit-content;
  height: fit-content;
  transform: rotate(5deg);
  background-color: #00cec9;
  display: inline;
  margin-left: 2rem;
  transition: background-color 0.5s ease-in-out;
}

#photo:hover {
  background-color: var(--navBar);
}

#james {
  height: 15rem;
  border: 3px solid var(--navBar);
  margin: 0.5rem;
  transform: rotate(-5deg);
}

.aboutPage p {
  display: inline-block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ABOUT GRID */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#gridContainer {
  display: grid;
  grid-template-rows: repeat(15, 1.3rem);
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 0.5rem;
  text-align: center;
  align-items: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
  padding: 1rem;
  box-shadow: 2px 2px 4px;
  width: 90%;
  margin: 0 auto;
}

.proficientBar {
  background-image: linear-gradient(to right,#50A3E3, #1fe309);
  border: 1px solid var(--gridBarBorder);
  height: 100%;
  border-radius: 0.5rem;
}

.confidentBar {
  background-image: linear-gradient(to right,#50A3E3, #e3df09);
  border: 1px solid var(--gridBarBorder);
  height: 100%;
  border-radius: 0.5rem;
}

.familiarBar {
  background-image: linear-gradient(to right,#50A3E3, #e38c09);
  border: 1px solid var(--gridBarBorder);
  height: 100%;
  border-radius: 0.5rem;
}

.gridTextLabel {
  text-align: start;
}

.js {grid-area: 2/2/2/6;}
.css {grid-area: 3/2/3/6;}
.html {grid-area: 4/2/4/6;}
.assembly {grid-area: 5/2/5/5;}
.python {grid-area: 6/2/6/5;}
.git {grid-area: 7/2/7/5;}
.linux {grid-area: 8/2/8/5;}
.react {grid-area: 9/2/9/5;}
.blender {grid-area: 10/2/10/5;}
.sql {grid-area: 11/2/11/4;}
.mongodb {grid-area: 12/2/12/4;}
.unreal {grid-area: 13/2/13/4;}
.gimp {grid-area: 14/2/14/4;}
.cpp {grid-area: 15/2/15/4;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* PAGES */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.aboutPage, .skillsPage, .projectsPage, .linksPage, .contactPage {
  background-color: var(--contentColor);
  border: 2px solid var(--contentBorder);
  width: 85vw;
  margin: 0 auto 2rem;
  padding: 14rem 2rem 2rem;
}

.aboutPage h1, .skillsPage h1, .projectsPage h1, .linksPage h1, .contactPage h1 { 
  padding: 0;
  margin: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NAVBAR */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar {
  color: white;
  width: 95vw;
  /* margin: 0 auto; */
  margin: 1rem auto 0px;
  /* pos: relative needed for child absolute */
  position: relative;
  
}

.navbar h1 {
  font-size: 4rem;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0 0 0 2rem;
  text-shadow: 2px 2px 6px black;
}

.navbar span {
  margin: 0;
  padding: 0;
}


/* polygon shape  */
.poly {
  height: 12rem;
  width: 100%;
  background-color: var(--navBar);
  clip-path: polygon(var(--path));
  margin: 0 auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem 3rem 5rem;
  z-index: 3;
}

.polyBorder {
  background-color: var(--navBarBorder);
  height: 12rem;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.navbar a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid rgba(255,255,255, 0);
  border-left: 1px solid rgba(255,255,255, 0);
  padding: 4px;
  border-radius: 5px;
}

a:hover {
  border: 1px solid white;
  transition-duration: 0.3s;
}

/* White background behind the navbar */
.navbarBackground {
  background-color: var(--backgroundColor);
  width: 100vw;
  height: 6rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* Links */
.linkComponents {
  display: flex;
  justify-content: space-around;
  width: 30rem;
  margin-top: 2rem;
}

.introName {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-top: 2rem;
}